.navbar {
    background: #fff;
    width: 100%;
    margin: 0 auto;
}

.navbar__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 840px;
}

.navbar__link {
    display: block;
    width: 100%;
    max-width: 139px;
    margin: 10px 0;
    text-decoration: none;
    padding: 13px 0;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #768088;
    transition: .3s linear;
    border-radius: 6px;
}

.navbar__link:hover {
    color: #fff;
    background: #6EA8FE;
}

.navbar__link:nth-child(2):hover {
    color: rgb(255, 255, 255);
    background: #333;
}

.navbar__link:nth-child(3):hover {
    color: rgb(255, 255, 255);
    background: #8C68CD;
}

.navbar__link:nth-child(4):hover {
    color: rgb(255, 255, 255);
    background: #DC3545;
}

.navbar__link:nth-child(5):hover {
    color: rgb(255, 255, 255);
    background: #479F76;
}

.navbar__link:nth-child(6):hover {
    color: rgb(255, 255, 255);
    background: #FFC107;
}